%h3 Lunch Admin
%ul.list-group
  %h5 User List
  - for user in @admin_data[:users]
    %li.list-group-item
      #{user[:name]}  : #{user[:email]}
  %h5 Create Menu Item For Today
  = simple_form_for(:menu_item, url: menu_items_path) do |f|
    = f.input :name, label: 'Menu item name'
    = f.input :price
    = f.input :kind, as: :radio_buttons, collection: MenuItem.kinds.keys, wrapper: :vertical_collection_inline
    = f.button :submit, class: 'btn-success', value: "Create"
